body{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    font-size: 10em;
}

.container>nav{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: auto 0;

}

.first-nav{
    width: 50%;
    display: block;
    text-align: center;
    margin: auto 0;
}

.adaptive-nav{
    width: 33.333%;
    margin: auto 0;
}
.bootstrap-nav{
    width: 50%;
    margin: auto 0;
}

nav>a{
    text-decoration: none;
    text-transform: none;
    color: black;
    text-align: center;
}

nav>a:hover{
    color: gold;
}

